@import "vars";
@import "fonts";

::placeholder {
	color: #ccc;
	@include transition-animation;
}
	
::selection {
	background-color: $accent;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	font-size: $def-fnz;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
}

input, textarea {
	border: 1px solid #ccc;
	padding: 10px;
	outline: none;
	@include transition-animation;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
	
.text-center {
	text-align: center;
}

// .myClass {
// 	color: blue;
// 	background-color: #000;
// }

// .items {
// 	display: flex;

// }
// .item {
// 	width: 100px;
// 	height: 100px;
// 	border: 1px solid #000;
// 	margin-left: 20px;
// }
// .item-active {
// 	border: 1px solid red;

// }

html, body, ul, li{
	margin: 0;
	padding: 0;
}

// #gallery{
// 	width: 860px;
// 	margin: 0 auto;
// 	text-align: center;
// }

// #gallery .photos{
// 	position: relative;
// 	height: 670px;
// }

// #gallery .photos img{
// 	width: 100%;
// 	position: absolute;
// 	left: 0;
// 	opacity: 0;
// 	transition: opacity 1s;
// }

// #gallery .photos img.showed{
// 	opacity: 1;
// }


form {
  box-sizing: border-box;
  width: 300px;
  padding: 20px 10px;
  border: none;
  display: block;
  overflow: hidden;
}

label {
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

span {
  display: block;
  margin-bottom: 7px;
}

input {
  width: 100%;
  padding: 10px 20px;
  display: block;
  outline: none;
}

input.active {
  border: 1px solid red;
}

@import "media"; // Always at the end